root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,ts,tsx,js,json,sql,css}]
charset = utf-8

[*.ps1]
end_of_line = crlf

[*.{bat,cmd}]
end_of_line = crlf
