{
  "openapi": "3.0.4",
  "info": {
    "title": "aQsi API V4",
    "description": "\n# Описание\n\nAPI включает в себя:\n\n1. Метод создания заказа и проверки его статуса\n1. Методы работы с магазином\n1. Методы работы с устройствами\n1. Методы работы с кассирами\n1. Методы работы с товарами\n1. Методы работы с товарными категориями\n\nВ API мы используем HTTP коды ответов для обозначения ошибок и URL, чьи структуры оформлены в виде каталогов. Ответы ошибок возвращаются в формате JSON. \n\nК API мы обращаемся по протоколу HTTPS.\n\nКодировка запросов:UTF-8\n\nБазовый URL `боевого` сервера: `https://api.aqsi.ru/pub`\n\nБазовый URL `VIP` сервера: `https://api-vip.aqsi.ru/pub`\n\n\n\n<b>NB: Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</b>\n<br/>\n<b>NB: В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика).</b>\n<br/>\n\nОпробовать данные методы можно с помощью REST API клиентов: например, Postman, cURL.\nРекомендуем использовать Postman, ниже описана инструкция по использованию этого апи в Postman.\n\n1. Установите [Postman](https://www.getpostman.com/downloads/)\n1. В левом верхнем углу нажмите на кнопку **Import** и выберите вкладку **Import from link**. Подробное описание можно посмотреть [здесь](https://learning.getpostman.com/docs/postman/collection-runs/working-with-data-files/#importing-sample-collection-files)\n1. Нажмите на кнопку <div style=\"cursor: default;\" class=\"sc-1mcjnf5-1 eoxkJU\">Download</div>, находящуюся рядом с названием спецификации. \n1. Скопируйте путь появившийся в браузере. Вставьте путь в Postman во вкладке  **Import from link**. Нажмите кнопку Import.\nПри успешном добавлении коллекция должна появиться во вкладке **Collections** с названием по умолчанию `aQsi API V*` в левом верхнем углу. При повторной загрузке коллекции можно заменить текущую `Replace` или сохранить как новую `Import as Copy`.\n1. Для запросов можно создать отдельную среду с переменными окружениями (**Environment**), которая будет подставлять базовый url и ключ авторизации в запросы. Примеры работы с переменными окружениям можно посмотреть [здесь.](https://blog.getpostman.com/2014/02/20/using-variables-inside-postman-and-collection-runner/)\n1. Примеры запросов со статусами ответа можно увидеть в правом верхнем углу, при выборе конкретного запроса из коллекции. Работу с примерами можно увидеть [здесь.](https://learning.getpostman.com/docs/postman/collections/examples/)\n\n# Description\n\nThis API includes:\n\n1. Deferred orders creation and status receipt methods\n1. Shops manipulation methods \n1. Devices manipulation methods\n1. Cashiers manipulation methods\n1. Goods manipulation methods\n1. Goods categories manipulation methods\n\nWe use standard HTTP status codes for success and error responses, and catalogue-like URL structure. Response body type is in JSON format. \n\nUse `HTTPS` to access this API.\n\nRequests encoding: `UTF-8`\n\n`Production` API base url: https://api.aqsi.ru/pub\n\n\n\n<b>NB: Required request model fields are marked with <span style=\"color: red; font-weight: normal;\">required</span></b>\n<br/>\n<b>NB: Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</b>\n<br/>\n\nUse REST API clients to test requests, for example Postman, cUrl.\nOur recommendation to test - Postman. We show you below how to setup this specification in Postman.\n\n1. Download [Postman](https://www.getpostman.com/downloads/)\n1. Click **Import** button on the top of left side and choose **Import from link** tab. More information about import [here](https://learning.getpostman.com/docs/postman/collection-runs/working-with-data-files/#importing-sample-collection-files)\n1. Click the button <div style=\"cursor: default;\" class=\"sc-1mcjnf5-1 eoxkJU\">Download</div> on the top of screen.\n1. Copy URL and paste in Postman link field and click **Import**. Your collection will be available in **Collections** tab with default name `aQsi API V*` if nothing wrong happens. If collection exists, you can replace current or save as copy.\n1. Create an **Environment** to provide `baseUrl` and `x-client-key` in requests. More information about environments [here](https://blog.getpostman.com/2014/02/20/using-variables-inside-postman-and-collection-runner/)\n1. Requests samples can be seen on the top right corner. More information about examples [here](https://learning.getpostman.com/docs/postman/collections/examples/)\n\n# Authentication\n\n<SecurityDefinitions />\n",
    "version": "v4"
  },
  "servers": [
    {
      "url": "https://api.aqsi.ru/pub"
    }
  ],
  "paths": {
    "/v1/Devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Index",
        "description": "<div class=\"apidocs-russian\"><span>Получение всех устройств в пределах внешней системы</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Get all external system devices</div>",
        "parameters": [
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.LkService.DeviceList"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v1/Devices/BindDeviceToAccount": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "GetBindingToken",
        "description": "<div class=\"apidocs-russian\"><span>Получение токена привязки устройства к учётной записи ЛК</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Get binding token of the device to your personal computer account</div>",
        "parameters": [
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Модель привязки устройства",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.BindDeviceToAccountModel"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.BindDeviceToAccountModel"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.BindDeviceToAccountModel"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.BindDeviceToAccountModel"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.LkService.BindingResponse"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v1/ShopsPrices/{guid}/status": {
      "get": {
        "tags": [
          "Shops"
        ],
        "summary": "Set Prices Status",
        "description": "<div class=\"apidocs-russian\"><span>Получение статуса загрузки пачки сообщений по идентификатору</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Get goods batch message status by ID</div>",
        "parameters": [
          {
            "name": "guid",
            "in": "path",
            "description": "<div class=\"apidocs-russian\">Идентификатор операции</div>\n<div class=\"apidocs-english\">Operation identifier</div>",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v2/Cashiers": {
      "post": {
        "tags": [
          "Cashiers"
        ],
        "summary": "Create",
        "description": "<div class=\"apidocs-russian\"><span>Создание кассира для внешней системы</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Create cashier for external system</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "<div class=\"apidocs-russian\">Модель создания кассира</div>\n<div class=\"apidocs-english\">Cashier model</div>",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.PostCashier"
                  }
                ],
                "description": "Модель отправки данных для создания/изменения кассира",
                "example": {
                  "name": "Vasya",
                  "inn": "000000000000",
                  "position": "Cashier",
                  "pin": "0000",
                  "code": "34",
                  "devices": [
                    4,
                    47
                  ],
                  "img": null,
                  "externalId": "1k23o3kk",
                  "shops": null,
                  "customProperties": [
                    {
                      "key": "StaffId",
                      "value": "YYY"
                    }
                  ]
                }
              },
              "example": {
                "name": "Vasya",
                "inn": "000000000000",
                "position": "Cashier",
                "pin": "0000",
                "code": "34",
                "devices": [
                  4,
                  47
                ],
                "img": null,
                "externalId": "1k23o3kk",
                "shops": null,
                "customProperties": [
                  {
                    "key": "StaffId",
                    "value": "YYY"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.PostCashier"
                  }
                ],
                "description": "Модель отправки данных для создания/изменения кассира",
                "example": {
                  "name": "Vasya",
                  "inn": "000000000000",
                  "position": "Cashier",
                  "pin": "0000",
                  "code": "34",
                  "devices": [
                    4,
                    47
                  ],
                  "img": null,
                  "externalId": "1k23o3kk",
                  "shops": null,
                  "customProperties": [
                    {
                      "key": "StaffId",
                      "value": "YYY"
                    }
                  ]
                }
              },
              "example": {
                "name": "Vasya",
                "inn": "000000000000",
                "position": "Cashier",
                "pin": "0000",
                "code": "34",
                "devices": [
                  4,
                  47
                ],
                "img": null,
                "externalId": "1k23o3kk",
                "shops": null,
                "customProperties": [
                  {
                    "key": "StaffId",
                    "value": "YYY"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.PostCashier"
                  }
                ],
                "description": "Модель отправки данных для создания/изменения кассира",
                "example": {
                  "name": "Vasya",
                  "inn": "000000000000",
                  "position": "Cashier",
                  "pin": "0000",
                  "code": "34",
                  "devices": [
                    4,
                    47
                  ],
                  "img": null,
                  "externalId": "1k23o3kk",
                  "shops": null,
                  "customProperties": [
                    {
                      "key": "StaffId",
                      "value": "YYY"
                    }
                  ]
                }
              },
              "example": {
                "name": "Vasya",
                "inn": "000000000000",
                "position": "Cashier",
                "pin": "0000",
                "code": "34",
                "devices": [
                  4,
                  47
                ],
                "img": null,
                "externalId": "1k23o3kk",
                "shops": null,
                "customProperties": [
                  {
                    "key": "StaffId",
                    "value": "YYY"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.PostCashier"
                  }
                ],
                "description": "Модель отправки данных для создания/изменения кассира",
                "example": {
                  "name": "Vasya",
                  "inn": "000000000000",
                  "position": "Cashier",
                  "pin": "0000",
                  "code": "34",
                  "devices": [
                    4,
                    47
                  ],
                  "img": null,
                  "externalId": "1k23o3kk",
                  "shops": null,
                  "customProperties": [
                    {
                      "key": "StaffId",
                      "value": "YYY"
                    }
                  ]
                }
              },
              "example": {
                "name": "Vasya",
                "inn": "000000000000",
                "position": "Cashier",
                "pin": "0000",
                "code": "34",
                "devices": [
                  4,
                  47
                ],
                "img": null,
                "externalId": "1k23o3kk",
                "shops": null,
                "customProperties": [
                  {
                    "key": "StaffId",
                    "value": "YYY"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.LkService.CashiersV2.CreateCashierResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Cashiers/{cashierId}": {
      "get": {
        "tags": [
          "Cashiers"
        ],
        "summary": "Read",
        "description": "<div class=\"apidocs-russian\"><span>Получение информации о конкретном кассире по его идентификатору во внешней системе</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Get particular cashier information by its external system identifier</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "cashierId",
            "in": "path",
            "description": "<div class=\"apidocs-russian\">Идентификатор кассира</div>\n<div class=\"apidocs-english\">Cashier identifier</div>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.LkService.CashiersV2.GetCashierResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Cashiers"
        ],
        "summary": "Update",
        "description": "<div class=\"apidocs-russian\"><span>Обновление кассира для внешней системы</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Update cashier for an external system</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "cashierId",
            "in": "path",
            "description": "<div class=\"apidocs-russian\">Идентификатор кассира</div>\n<div class=\"apidocs-english\">Cashier identifier</div>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "<div class=\"apidocs-russian\">Модель создания кассира</div>\n<div class=\"apidocs-english\">Cashier model</div>",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.PostCashier"
                  }
                ],
                "description": "Модель отправки данных для создания/изменения кассира",
                "example": {
                  "name": "Vasya",
                  "inn": "000000000000",
                  "position": "Cashier",
                  "pin": "0000",
                  "code": "34",
                  "devices": [
                    4,
                    47
                  ],
                  "img": null,
                  "externalId": "1k23o3kk",
                  "shops": null,
                  "customProperties": [
                    {
                      "key": "StaffId",
                      "value": "YYY"
                    }
                  ]
                }
              },
              "example": {
                "name": "Vasya",
                "inn": "000000000000",
                "position": "Cashier",
                "pin": "0000",
                "code": "34",
                "devices": [
                  4,
                  47
                ],
                "img": null,
                "externalId": "1k23o3kk",
                "shops": null,
                "customProperties": [
                  {
                    "key": "StaffId",
                    "value": "YYY"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.PostCashier"
                  }
                ],
                "description": "Модель отправки данных для создания/изменения кассира",
                "example": {
                  "name": "Vasya",
                  "inn": "000000000000",
                  "position": "Cashier",
                  "pin": "0000",
                  "code": "34",
                  "devices": [
                    4,
                    47
                  ],
                  "img": null,
                  "externalId": "1k23o3kk",
                  "shops": null,
                  "customProperties": [
                    {
                      "key": "StaffId",
                      "value": "YYY"
                    }
                  ]
                }
              },
              "example": {
                "name": "Vasya",
                "inn": "000000000000",
                "position": "Cashier",
                "pin": "0000",
                "code": "34",
                "devices": [
                  4,
                  47
                ],
                "img": null,
                "externalId": "1k23o3kk",
                "shops": null,
                "customProperties": [
                  {
                    "key": "StaffId",
                    "value": "YYY"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.PostCashier"
                  }
                ],
                "description": "Модель отправки данных для создания/изменения кассира",
                "example": {
                  "name": "Vasya",
                  "inn": "000000000000",
                  "position": "Cashier",
                  "pin": "0000",
                  "code": "34",
                  "devices": [
                    4,
                    47
                  ],
                  "img": null,
                  "externalId": "1k23o3kk",
                  "shops": null,
                  "customProperties": [
                    {
                      "key": "StaffId",
                      "value": "YYY"
                    }
                  ]
                }
              },
              "example": {
                "name": "Vasya",
                "inn": "000000000000",
                "position": "Cashier",
                "pin": "0000",
                "code": "34",
                "devices": [
                  4,
                  47
                ],
                "img": null,
                "externalId": "1k23o3kk",
                "shops": null,
                "customProperties": [
                  {
                    "key": "StaffId",
                    "value": "YYY"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.PostCashier"
                  }
                ],
                "description": "Модель отправки данных для создания/изменения кассира",
                "example": {
                  "name": "Vasya",
                  "inn": "000000000000",
                  "position": "Cashier",
                  "pin": "0000",
                  "code": "34",
                  "devices": [
                    4,
                    47
                  ],
                  "img": null,
                  "externalId": "1k23o3kk",
                  "shops": null,
                  "customProperties": [
                    {
                      "key": "StaffId",
                      "value": "YYY"
                    }
                  ]
                }
              },
              "example": {
                "name": "Vasya",
                "inn": "000000000000",
                "position": "Cashier",
                "pin": "0000",
                "code": "34",
                "devices": [
                  4,
                  47
                ],
                "img": null,
                "externalId": "1k23o3kk",
                "shops": null,
                "customProperties": [
                  {
                    "key": "StaffId",
                    "value": "YYY"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Cashiers"
        ],
        "summary": "Update",
        "description": "<div class=\"apidocs-russian\"><span>Обновление кассира для внешней системы</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Update cashier for an external system</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "cashierId",
            "in": "path",
            "description": "<div class=\"apidocs-russian\">Идентификатор кассира</div>\n<div class=\"apidocs-english\">Cashier identifier</div>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "<div class=\"apidocs-russian\">Модель создания кассира</div>\n<div class=\"apidocs-english\">Cashier model</div>",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.PostCashier"
                  }
                ],
                "description": "Модель отправки данных для создания/изменения кассира",
                "example": {
                  "name": "Vasya",
                  "inn": "000000000000",
                  "position": "Cashier",
                  "pin": "0000",
                  "code": "34",
                  "devices": [
                    4,
                    47
                  ],
                  "img": null,
                  "externalId": "1k23o3kk",
                  "shops": null,
                  "customProperties": [
                    {
                      "key": "StaffId",
                      "value": "YYY"
                    }
                  ]
                }
              },
              "example": {
                "name": "Vasya",
                "inn": "000000000000",
                "position": "Cashier",
                "pin": "0000",
                "code": "34",
                "devices": [
                  4,
                  47
                ],
                "img": null,
                "externalId": "1k23o3kk",
                "shops": null,
                "customProperties": [
                  {
                    "key": "StaffId",
                    "value": "YYY"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.PostCashier"
                  }
                ],
                "description": "Модель отправки данных для создания/изменения кассира",
                "example": {
                  "name": "Vasya",
                  "inn": "000000000000",
                  "position": "Cashier",
                  "pin": "0000",
                  "code": "34",
                  "devices": [
                    4,
                    47
                  ],
                  "img": null,
                  "externalId": "1k23o3kk",
                  "shops": null,
                  "customProperties": [
                    {
                      "key": "StaffId",
                      "value": "YYY"
                    }
                  ]
                }
              },
              "example": {
                "name": "Vasya",
                "inn": "000000000000",
                "position": "Cashier",
                "pin": "0000",
                "code": "34",
                "devices": [
                  4,
                  47
                ],
                "img": null,
                "externalId": "1k23o3kk",
                "shops": null,
                "customProperties": [
                  {
                    "key": "StaffId",
                    "value": "YYY"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.PostCashier"
                  }
                ],
                "description": "Модель отправки данных для создания/изменения кассира",
                "example": {
                  "name": "Vasya",
                  "inn": "000000000000",
                  "position": "Cashier",
                  "pin": "0000",
                  "code": "34",
                  "devices": [
                    4,
                    47
                  ],
                  "img": null,
                  "externalId": "1k23o3kk",
                  "shops": null,
                  "customProperties": [
                    {
                      "key": "StaffId",
                      "value": "YYY"
                    }
                  ]
                }
              },
              "example": {
                "name": "Vasya",
                "inn": "000000000000",
                "position": "Cashier",
                "pin": "0000",
                "code": "34",
                "devices": [
                  4,
                  47
                ],
                "img": null,
                "externalId": "1k23o3kk",
                "shops": null,
                "customProperties": [
                  {
                    "key": "StaffId",
                    "value": "YYY"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.PostCashier"
                  }
                ],
                "description": "Модель отправки данных для создания/изменения кассира",
                "example": {
                  "name": "Vasya",
                  "inn": "000000000000",
                  "position": "Cashier",
                  "pin": "0000",
                  "code": "34",
                  "devices": [
                    4,
                    47
                  ],
                  "img": null,
                  "externalId": "1k23o3kk",
                  "shops": null,
                  "customProperties": [
                    {
                      "key": "StaffId",
                      "value": "YYY"
                    }
                  ]
                }
              },
              "example": {
                "name": "Vasya",
                "inn": "000000000000",
                "position": "Cashier",
                "pin": "0000",
                "code": "34",
                "devices": [
                  4,
                  47
                ],
                "img": null,
                "externalId": "1k23o3kk",
                "shops": null,
                "customProperties": [
                  {
                    "key": "StaffId",
                    "value": "YYY"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Cashiers"
        ],
        "summary": "Delete",
        "description": "<div class=\"apidocs-russian\"><span>Удаление кассира внешней системы</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Delete external system cashier</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "cashierId",
            "in": "path",
            "description": "<div class=\"apidocs-russian\">Идентификатор кассира</div>\n<div class=\"apidocs-english\">Cashier identifier</div>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Cashiers/list": {
      "get": {
        "tags": [
          "Cashiers"
        ],
        "summary": "Index",
        "description": "<div class=\"apidocs-russian\"><span>Получение всех кассиров внешней системы</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Get all external system cashiers</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.CashiersV2.GetCashierResponseV2"
                  },
                  "example": [
                    {
                      "id": "1k23o3kk",
                      "name": "Vasya",
                      "inn": "000000000000",
                      "position": "Cashier",
                      "lastLoginTime": null,
                      "code": "35",
                      "img": null,
                      "customProperties": [
                        {
                          "key": "StaffId",
                          "value": "YYY"
                        }
                      ],
                      "pin": "0000",
                      "devices": null
                    },
                    {
                      "id": "1k23o3yy",
                      "name": "Kolya",
                      "inn": "000000000000",
                      "position": "Admin",
                      "lastLoginTime": null,
                      "code": "32",
                      "img": null,
                      "customProperties": [
                        {
                          "key": "StaffCode",
                          "value": "XXX"
                        }
                      ],
                      "pin": "1111",
                      "devices": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Clients": {
      "post": {
        "tags": [
          "Clients"
        ],
        "summary": "Create",
        "description": "<div class=\"apidocs-russian\"><span>Создание клиента для внешней системы</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Create external system client</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "<div class=\"apidocs-russian\">Модель клиента</div>\n<div class=\"apidocs-english\">Client model</div>",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.ClientV2"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.ClientV2"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.ClientV2"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.ClientV2"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.LkService.IdResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Clients/{clientId}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Read",
        "description": "<div class=\"apidocs-russian\"><span>Получение данных клиента для внешней системы</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Getting external system client data</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "<div class=\"apidocs-russian\">Идентификатор клиента</div>\n<div class=\"apidocs-english\">Client identifier</div>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.LkService.ClientExtendedV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Clients"
        ],
        "summary": "Update",
        "description": "<div class=\"apidocs-russian\"><span>Обновление клиента для внешней системы</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Update external system client</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "<div class=\"apidocs-russian\">Идентификатор клиента</div>\n<div class=\"apidocs-english\">Client identifier</div>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "<div class=\"apidocs-russian\">Модель клиента</div>\n<div class=\"apidocs-english\">Client model</div>",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.Client"
                  }
                ],
                "example": {
                  "group": {
                    "id": "00000000-0000-0000-0000-000000000000"
                  },
                  "fio": "Иванов Иван",
                  "gender": 1,
                  "inn": "123124125126",
                  "birthDate": "1970-01-01T00:00:00.0000000+00:00",
                  "mainPhone": "88005553535",
                  "additionalPhone": null,
                  "email": "ivanov@example.com",
                  "comment": "Оставляет чаевые",
                  "passport": "4608999777",
                  "docType": null,
                  "nationality": null,
                  "address": null
                }
              },
              "example": {
                "group": {
                  "id": "00000000-0000-0000-0000-000000000000"
                },
                "fio": "Иванов Иван",
                "gender": 1,
                "inn": "123124125126",
                "birthDate": "1970-01-01T00:00:00.0000000+00:00",
                "mainPhone": "88005553535",
                "additionalPhone": null,
                "email": "ivanov@example.com",
                "comment": "Оставляет чаевые",
                "passport": "4608999777",
                "docType": null,
                "nationality": null,
                "address": null
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.Client"
                  }
                ],
                "example": {
                  "group": {
                    "id": "00000000-0000-0000-0000-000000000000"
                  },
                  "fio": "Иванов Иван",
                  "gender": 1,
                  "inn": "123124125126",
                  "birthDate": "1970-01-01T00:00:00.0000000+00:00",
                  "mainPhone": "88005553535",
                  "additionalPhone": null,
                  "email": "ivanov@example.com",
                  "comment": "Оставляет чаевые",
                  "passport": "4608999777",
                  "docType": null,
                  "nationality": null,
                  "address": null
                }
              },
              "example": {
                "group": {
                  "id": "00000000-0000-0000-0000-000000000000"
                },
                "fio": "Иванов Иван",
                "gender": 1,
                "inn": "123124125126",
                "birthDate": "1970-01-01T00:00:00.0000000+00:00",
                "mainPhone": "88005553535",
                "additionalPhone": null,
                "email": "ivanov@example.com",
                "comment": "Оставляет чаевые",
                "passport": "4608999777",
                "docType": null,
                "nationality": null,
                "address": null
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.Client"
                  }
                ],
                "example": {
                  "group": {
                    "id": "00000000-0000-0000-0000-000000000000"
                  },
                  "fio": "Иванов Иван",
                  "gender": 1,
                  "inn": "123124125126",
                  "birthDate": "1970-01-01T00:00:00.0000000+00:00",
                  "mainPhone": "88005553535",
                  "additionalPhone": null,
                  "email": "ivanov@example.com",
                  "comment": "Оставляет чаевые",
                  "passport": "4608999777",
                  "docType": null,
                  "nationality": null,
                  "address": null
                }
              },
              "example": {
                "group": {
                  "id": "00000000-0000-0000-0000-000000000000"
                },
                "fio": "Иванов Иван",
                "gender": 1,
                "inn": "123124125126",
                "birthDate": "1970-01-01T00:00:00.0000000+00:00",
                "mainPhone": "88005553535",
                "additionalPhone": null,
                "email": "ivanov@example.com",
                "comment": "Оставляет чаевые",
                "passport": "4608999777",
                "docType": null,
                "nationality": null,
                "address": null
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.Client"
                  }
                ],
                "example": {
                  "group": {
                    "id": "00000000-0000-0000-0000-000000000000"
                  },
                  "fio": "Иванов Иван",
                  "gender": 1,
                  "inn": "123124125126",
                  "birthDate": "1970-01-01T00:00:00.0000000+00:00",
                  "mainPhone": "88005553535",
                  "additionalPhone": null,
                  "email": "ivanov@example.com",
                  "comment": "Оставляет чаевые",
                  "passport": "4608999777",
                  "docType": null,
                  "nationality": null,
                  "address": null
                }
              },
              "example": {
                "group": {
                  "id": "00000000-0000-0000-0000-000000000000"
                },
                "fio": "Иванов Иван",
                "gender": 1,
                "inn": "123124125126",
                "birthDate": "1970-01-01T00:00:00.0000000+00:00",
                "mainPhone": "88005553535",
                "additionalPhone": null,
                "email": "ivanov@example.com",
                "comment": "Оставляет чаевые",
                "passport": "4608999777",
                "docType": null,
                "nationality": null,
                "address": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.LkService.IdResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Clients"
        ],
        "summary": "Delete",
        "description": "<div class=\"apidocs-russian\"><span>Удаление клиента внешней системы</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Client delete for external system</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "clientId",
            "in": "path",
            "description": "<div class=\"apidocs-russian\">Идентификатор клиента</div>\n<div class=\"apidocs-english\">Client identifier</div>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Goods": {
      "post": {
        "tags": [
          "Goods"
        ],
        "summary": "Create",
        "description": "<div class=\"apidocs-russian\"><span>Создание товара в личном кабинете в разрезе аккаунта,в ответе возвращается время постановки сообщения в очередь на шину данных</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">External system account-wide goods creation. Response returns data bus message queuing timestamp</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "<div class=\"apidocs-russian\">Модель товара</div>\n<div class=\"apidocs-english\">Goods model</div>",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.Goods.ExtendedGoodDtoV2"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.Goods.ExtendedGoodDtoV2"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.Goods.ExtendedGoodDtoV2"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.Goods.ExtendedGoodDtoV2"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.DateTimeModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Goods"
        ],
        "summary": "Update",
        "description": "<div class=\"apidocs-russian\"><span>Обновление товара в личном кабинете в разрезе аккаунта,в ответе возвращается время постановки сообщения в очередь на шину данных</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">External system account-wide goods updating. Response returns data bus message queuing timestamp</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "<div class=\"apidocs-russian\">Модель товара</div>\n<div class=\"apidocs-english\">Goods model</div>",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.Goods.ExtendedGoodDtoV2"
                  }
                ]
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.Goods.ExtendedGoodDtoV2"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.Goods.ExtendedGoodDtoV2"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.Goods.ExtendedGoodDtoV2"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.DateTimeModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Goods/{goodId}": {
      "get": {
        "tags": [
          "Goods"
        ],
        "summary": "Read",
        "description": "<div class=\"apidocs-russian\"><span>Получение товара из личного кабинета в разрезе аккаунта</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Get external system goods information</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "goodId",
            "in": "path",
            "description": "<div class=\"apidocs-russian\">Идентификатор товара</div>\n<div class=\"apidocs-english\">Goods identifier</div>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.LkService.ExtendedGoodV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Goods"
        ],
        "summary": "Delete",
        "description": "<div class=\"apidocs-russian\"><span>Удаление товара в личном кабинете в разрезе аккаунта,в ответе возвращается время постановки сообщения в очередь на шину данных</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Removing the good in your account in the context of the account, the response returns the time of queuing the message on the data bus </div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "goodId",
            "in": "path",
            "description": "<div class=\"apidocs-russian\">Идентификатор товара</div>\n<div class=\"apidocs-english\">Goods identifier</div>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.DateTimeModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Goods/list": {
      "get": {
        "tags": [
          "Goods"
        ],
        "summary": "Index",
        "description": "<div class=\"apidocs-russian\"><span>Получение списка товаров из личного кабинета в разрезе аккаунта</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Getting external system account-wide list of goods</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "pageNumber",
            "in": "query",
            "description": "<div class=\"apidocs-russian\">Номер страницы</div>\n<div class=\"apidocs-english\">Page number</div>",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "<div class=\"apidocs-russian\">Идентификатор группы для фильтрации</div>\n<div class=\"apidocs-english\">Group identifier for filtering</div>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedAtFrom",
            "in": "query",
            "description": "<div class=\"apidocs-russian\">Начальная дата для фильтрации по дате обновления. Включена в диапазон. Формат даты ISO 8601. Дата без указания таймзоны будет считаться таймзоной UTC.</div>\n<div class=\"apidocs-english\"></div>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedAtTo",
            "in": "query",
            "description": "<div class=\"apidocs-russian\">Конечная дата для фильтрации по дате обновления. Не включена в диапазон. Формат даты ISO 8601. Дата без указания таймзоны будет считаться таймзоной UTC.</div>\n<div class=\"apidocs-english\"></div>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.LkService.GoodsV2.GoodsListResponseV2"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v2/Goods/prices": {
      "post": {
        "tags": [
          "Goods"
        ],
        "summary": "Set Prices",
        "description": "<div class=\"apidocs-russian\"><span>Установить цены товарам и привязать их к магазинам.</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Set goods prices and associate it with shops.</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "<div class=\"apidocs-russian\">Масcив товаров с магазинами для привязки</div>\n<div class=\"apidocs-english\">Array of goods with stores for binding</div>",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NebularApi.Models.LkService.GoodsV2SetPrices"
                },
                "example": [
                  {
                    "id": "ITEM_ID",
                    "shops": [
                      {
                        "id": "SHOP_ID",
                        "price": "25",
                        "maxDiscountPercent": "20"
                      }
                    ],
                    "defaultPrice": "17.5"
                  }
                ]
              },
              "example": [
                {
                  "id": "ITEM_ID",
                  "shops": [
                    {
                      "id": "SHOP_ID",
                      "price": "25",
                      "maxDiscountPercent": "20"
                    }
                  ],
                  "defaultPrice": "17.5"
                }
              ]
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NebularApi.Models.LkService.GoodsV2SetPrices"
                },
                "example": [
                  {
                    "id": "ITEM_ID",
                    "shops": [
                      {
                        "id": "SHOP_ID",
                        "price": "25",
                        "maxDiscountPercent": "20"
                      }
                    ],
                    "defaultPrice": "17.5"
                  }
                ]
              },
              "example": [
                {
                  "id": "ITEM_ID",
                  "shops": [
                    {
                      "id": "SHOP_ID",
                      "price": "25",
                      "maxDiscountPercent": "20"
                    }
                  ],
                  "defaultPrice": "17.5"
                }
              ]
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NebularApi.Models.LkService.GoodsV2SetPrices"
                },
                "example": [
                  {
                    "id": "ITEM_ID",
                    "shops": [
                      {
                        "id": "SHOP_ID",
                        "price": "25",
                        "maxDiscountPercent": "20"
                      }
                    ],
                    "defaultPrice": "17.5"
                  }
                ]
              },
              "example": [
                {
                  "id": "ITEM_ID",
                  "shops": [
                    {
                      "id": "SHOP_ID",
                      "price": "25",
                      "maxDiscountPercent": "20"
                    }
                  ],
                  "defaultPrice": "17.5"
                }
              ]
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/NebularApi.Models.LkService.GoodsV2SetPrices"
                },
                "example": [
                  {
                    "id": "ITEM_ID",
                    "shops": [
                      {
                        "id": "SHOP_ID",
                        "price": "25",
                        "maxDiscountPercent": "20"
                      }
                    ],
                    "defaultPrice": "17.5"
                  }
                ]
              },
              "example": [
                {
                  "id": "ITEM_ID",
                  "shops": [
                    {
                      "id": "SHOP_ID",
                      "price": "25",
                      "maxDiscountPercent": "20"
                    }
                  ],
                  "defaultPrice": "17.5"
                }
              ]
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GoodsCategory": {
      "post": {
        "tags": [
          "GoodsCategory"
        ],
        "summary": "Create",
        "description": "<div class=\"apidocs-russian\"><span>Создание категории в личном кабинете в разрезе аккаунта,в ответе возвращается время постановки сообщения в очередь на шину данных</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">External system account-wide goods category creation. Response returns data bus message queuing timestamp</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "<div class=\"apidocs-russian\">Модель категории</div>\n<div class=\"apidocs-english\">Category model</div>",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Dtos.GoodCategoryDtoV2"
                  }
                ],
                "description": "Товарная категория"
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Dtos.GoodCategoryDtoV2"
                  }
                ],
                "description": "Товарная категория"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Dtos.GoodCategoryDtoV2"
                  }
                ],
                "description": "Товарная категория"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Dtos.GoodCategoryDtoV2"
                  }
                ],
                "description": "Товарная категория"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.DateTimeModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "GoodsCategory"
        ],
        "summary": "Update",
        "description": "<div class=\"apidocs-russian\"><span>Обновление категории в личном кабинете в разрезе аккаунта,в ответе возвращается время постановки сообщения в очередь на шину данных</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">External system account-wide goods category update. Response returns data bus message queuing timestamp</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "<div class=\"apidocs-russian\">Модель категории</div>\n<div class=\"apidocs-english\">Category model</div>",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Dtos.GoodCategoryDtoV2"
                  }
                ],
                "description": "Товарная категория"
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Dtos.GoodCategoryDtoV2"
                  }
                ],
                "description": "Товарная категория"
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Dtos.GoodCategoryDtoV2"
                  }
                ],
                "description": "Товарная категория"
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/NebularApi.Dtos.GoodCategoryDtoV2"
                  }
                ],
                "description": "Товарная категория"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.DateTimeModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GoodsCategory/{categoryId}": {
      "delete": {
        "tags": [
          "GoodsCategory"
        ],
        "summary": "Delete",
        "description": "<div class=\"apidocs-russian\"><span>Удаление категории в личном кабинете в разрезе аккаунта,в ответе возвращается время постановки сообщения в очередь на шину данных</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">External system account-wide goods category deletion. Response returns data bus message queuing timestamp</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "<div class=\"apidocs-russian\">Идентификатор категории</div>\n<div class=\"apidocs-english\">Category id</div>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.DateTimeModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GoodsCategory/list": {
      "get": {
        "tags": [
          "GoodsCategory"
        ],
        "summary": "Index",
        "description": "<div class=\"apidocs-russian\"><span>Получение списка товарных категорий в разрезе аккаунта</span><br><div class=\"required-annotation\">Поля в модели запроса, отмеченные <span style=\"color: red; font-weight: normal;\">required</span> - обязательны к заполнению</div></div><div class=\"apidocs-english\">Get a list of good's categories by account</div><br/><div class=\"apidocs-russian version-annotation\">В методах версии 2 (V2) идентификаторы уникальны в разрезе аккаунта (используются идентификаторы внешней системы заказчика), в отличие от методов версии 1 (V1), где использовались идентификаторы уникальные в разрезе всей системы.</div>\n            <div class=\"apidocs-english version-annotation\">Each model identifier is unique in scope of user account in V2 methods (user external system ids). Whereas globally unique system identifiers were used in V1 methods (our system ids).</div>",
        "parameters": [
          {
            "name": "updatedAtFrom",
            "in": "query",
            "description": "<div class=\"apidocs-russian\">Начальная дата для фильтрации по дате обновления. Включена в диапазон. Формат даты ISO 8601. Дата без указания таймзоны будет считаться таймзоной UTC.</div>\n<div class=\"apidocs-english\"></div>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedAtTo",
            "in": "query",
            "description": "<div class=\"apidocs-russian\">Конечная дата для фильтрации по дате обновления. Не включена в диапазон. Формат даты ISO 8601. Дата без указания таймзоны будет считаться таймзоной UTC.</div>\n<div class=\"apidocs-english\"></div>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-client-key",
            "in": "header",
            "description": "example: Application XXX",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NebularApi.Models.LkService.GetGoodsCategoryV2"
                  },
                  "example": [
                    {
                      "id": "CATEGORY_ID",
                      "parent": null,
                      "children": null,
                      "number": 2,
                      "name": "Оружие",
                      "defaultSubject": 1,
                      "defaultTax": 1,
                      "defaultUnit": "шт",
                      "defaultUnitCode": null,
                      "defaultMarkingType": null,
                      "customProperties": null,
                      "defaultPaymentMethodType": 4,
                      "createdAt": "2018-02-02T00:00:00.0000000+00:00",
                      "updatedAt": "2018-03-04T00:00:00.0000000+00:00",
                      "deletedAt": null
                    },
                    {
                      "id": "ANOTHER_CATEGORY_ID",
                      "parent": null,
                      "children": null,
                      "number": 3,
                      "name": "Яблоки",
                      "defaultSubject": 1,
                      "defaultTax": 1,
                      "defaultUnit": "кг",
                      "defaultUnitCode": null,
                      "defaultMarkingType": null,
                      "customProperties": null,
                      "defaultPaymentMethodType": 4,
                      "createdAt": "2018-02-02T00:00:00.0000000+00:00",
                      "updatedAt": "2019-03-04T00:00:00.0000000+00:00",
                      "deletedAt": null
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NebularApi.Models.CommonApi.ErrorModel"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
[...]
